.blogContainer {
  max-width: 880px; 
  margin: 0 auto;
  padding: 20px;
  font-family: var(--fontOpen2);
  color: #ffffff; /* Bílý text */
  background-color: #000; /* Černé pozadí */
}

.blogLink {
  font-family: var(--fontOpen);
  font-size: var(--fonstSize4);
  color: #ffffff;
  text-decoration: none;
  margin: 2rem 0;
  display: inline-block;
  font-weight: 700;
  transition: color 0.3s ease;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.blogTyp {
  font-family: var(--fontOpen);
  font-size: var(--fonstSize4);
  font-weight: 700;
  margin: 2rem 0; 
  color: #ffffff;
  opacity: 50%;
  text-transform: uppercase;
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
}

.blogLink:hover {
  color: #686868;
}

/* Hlavní článek */
.blogPost {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto); /* Dynamická výška řádků */
  gap: 2rem;
  grid-auto-flow: row;
  
}

.blogPost > h1:first-of-type {
  font-family: var(--fontBebas);
  font-size: var(--fontSize1);
  text-transform: uppercase;
  grid-column: 1 / span 5;
  grid-row: auto; /* Automatické přizpůsobení */
  margin-top: 2rem;
}

.blogPost > img:first-of-type {
  grid-column: 1 / span 5;
  grid-row: auto;
  width: 100%;
  height: auto;
  max-height: 500px; /* Maximální výška pro větší obrázky */
}

.blogPost h1 {
  font-family: var(--fontBebas);
  font-size: var(--fontSize1);
  text-transform: uppercase;
  grid-column: span 5;
  grid-row: auto;
}

.blogPost h2 {
  font-family: var(--fontBebas);
  font-size: var(--fontSize2);
  text-transform: uppercase;
  grid-column: span 5;
  grid-row: auto;
  margin-top: 0.5rem;
}

.blogPost h3 {
  font-family: var(--fontBebas);
  font-size: var(--fontSize3);
  text-transform: uppercase;
  grid-column: span 5;
  grid-row: auto;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0.5rem;
}

.blogPost h4 {
  font-family: var(--fontBebas);
  font-size: 1.5rem;
  text-transform: uppercase;
  grid-column: span 5;
  grid-row: auto;
  margin-top: 0.5rem;
}

.blogPost h5 {
  font-family: var(--fontBebas);
  font-size: 1rem;
  color: #ff0000;
  font-weight: 400;
}

/* Oprava paragrafů, aby se nerozbíjely */
.blogPost p:first-of-type {
  grid-column: 1/ span 5;
  grid-row: auto; /* Dynamická výška */
  margin-top: 2rem
}

.blogPost p {
  grid-column: span 5;
  grid-row: auto; /* Dynamická výška */
  text-align: justify;
}

/* Oprava pro p s obrázky */
.blogPost p:has(img) {
  grid-column: span 5;
  grid-row: auto;
}

/* Seznamy */
.blogPost ul,
.blogPost ol {
  grid-row: auto;
  margin-left: 1.5rem;
}

/* Blokové citace */
.blogPost blockquote {
  border-left: 4px solid #aaaaaa;
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: #cccccc;
  grid-row: auto;
}
