.aboutSection {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .title {
    font-size: var(--fontSize2);
    font-weight: 400;
    margin: 2rem 0 3rem 0;
    font-family: var(--fontBebas);
  }
  
  .container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    gap: 6rem;
  }
   
  .imageWrapper {
    flex: 4;
    min-width: 400px;
    overflow: hidden;
  }
  
  .mainImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.75);
    transform-origin: 40% 25%;
  }
  
  .textWrapper {
    flex: 6;
    display: flex;
    flex-direction: column;
    font-family: var(--fontOpen2);
  }
  
  .descriptionWrapper p{
    margin-bottom: 1rem;
  }
  
  .iconsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .iconItem {
    display: flex;
    gap: 2rem;
    text-align: center;
  }
  
  .iconItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .iconItem p {
    font-size: 0.875rem;
    line-height: 50px;
  }
  