.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  .postsContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  
  .postPreview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    gap: 1rem;
    transition: ease-in-out 0.5s;
  }

  .postPreview:hover {
    transform: scale(1.1);
  }
  
  .title {
    font-size: var(--fontSize3);
    font-family: var(--fontBebas);
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  
  .imageWrapper {
    width: 150px;
    height: 170px;
    overflow: hidden;
  }
  
  .excerpt {
    width: 55%;
    font-size: var(--fontSize4);
    font-family: var(--fontOpen2);
    color: #ffffff;
    text-align: left;
  }
  
  .linkContainer {
    margin-top: 3rem;
  }
  
  .blogLink {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 400;
    font-family: var(--fontOpen2);
    font-size: 1rem;
  }
  