.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  .postsContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  
  .postPreview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    gap: 1rem;
    transition: ease-in-out 0.5s;
    position: relative;
  }

  .postPreview:hover {
    transform: scale(1.05);
  }
  
  .title {
    font-size: var(--fontSize3);
    font-family: var(--fontBebas);
    font-weight: 400;
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
  }
  
  .imageWrapper {
    width: 350px;
    height: 170px;
    overflow: hidden; 
    position: relative;
  }

  .imageWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 0;
    left: 0;
    z-index:5;
    transition: ease-in-out 0.5s;
  }

  .cover:hover {
    opacity: 0;
  }
  
  .linkContainer {
    margin-top: 3rem;
  }
  
  .blogLink {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: 400;
    font-family: var(--fontOpen2);
    font-size: 1rem;
  }

  @media (max-width: 900px) {
    .postsContainer {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 600px) {
    .postPreview{
      gap: 1rem;
      justify-content: center;
    }
    .postPreview h2 {
      width: 80%;
    }
    .postPreview p {
      font-size: 0.8rem;
    }
    .postsContainer {
      gap: 2rem;
    }
    .imageWrapper {
      width: 85px;
      height: 100px;
    }
    .imageWrapper img {
      width: 100%;
      height: 100%;
    }
    .linkContainer {
      margin-top: 1rem;
    }
  }
  