.blogSection {
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.title {
  font-family: var(--fontBebas);
  font-size: var(--fontSize2);
  font-weight: 400;
  margin-bottom: 3rem;
}