.clientsContainer {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}

.clientDetails {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.clientImage {
  width: 40%;
}

.clientInfo {
  width: 55%;
  text-align: left;
}

.clientInfo h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.clientInfo h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paginationDot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
}

.paginationDotActive {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin: 0 5px;
}
