.logoContainer {
    position: relative;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .backgroundOverlay {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%; /* Širší než viewport, aby pokrylo více než 100% šířky */
    height: 100%;
    transform: translateX(-50%);
    z-index: -2;
  }
  
  .background {
    filter: brightness(0.3);
    object-fit: cover;
  }
  
  .textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  
  .logoTitle {
    font-family: 'Pussycat', sans-serif;
    font-size: 4rem;
    margin: 0;
  }
  
  .subtitle {
    font-size: 2rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
  }
  
  .quote {
    font-style: italic;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .scrollButton {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .arrow {
    font-size: 3rem;
    color: white;
  }
  