.blogContainer {
  padding: 2rem;
  color: #fff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: var(--fontSize2);
  font-family: var(--fontBebas);
}

.navMenu {
  font-size: var(--fontSize4);
  font-family: var(--fontOpen);
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0 3rem 0;
}

.blogLink {
  margin: 0.55rem 6.5rem 0 0.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.filter {
  display: flex;
  gap: 1.5rem;
}

.blogPost {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: flex-start;
}

.blogPost li {
  width: calc(50% - 3rem);
}

.blogPost h2 {
  font-size: var(--fontSize3);
  font-family: var(--fontBebas);
  font-weight: 400;
  margin-bottom: 1.5rem;
  
}

.blogPost p {
  font-size: var(--fontSize4);
  font-family: var(--fontOpen2);
  font-weight: 400;
}

.blogContent {
  display: flex;
  gap: 1rem;
}

.filterButton {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  transition: color 0.3s ease;
}

.filterButton:hover {
  color: darkgrey;
}

.filterButton.active {
  color: rgb(255, 0, 0);
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.pageButton {
  padding: 10px 15px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: var(--fontOpen);
  font-weight: 700;
  font-size: var(--fontSize4);
}

.pageButton:hover {
  color: #555;
}

.pageButton.active {
  color: #ff0000;
  opacity: 1;
  font-weight: bold;
}

.blogItem {
  transition: ease-in-out 0.5s;
}

.blogItem:hover {
  transform: scale(1.05);
} 