.blogContainer {
  padding: 2rem;
  color: #fff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.blogPost {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}



.blogPost li {
  width: 40%;
}

.blogContent {
  display: flex;
  gap: 1rem;
}